/* 
 * @Author: Mr.B 
 * @Date: 2022-03-04 18:27:35 
 * @Last Modified by:   Mr.B 
 * @Last Modified time: 2022-03-04 18:27:35 
 */

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}